body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial,sans-serif;
}

.container{
  max-width:420px;
  margin:auto;
  padding:16px;
}

.header{
  position:relative;
  text-align:center;
  margin-bottom:25px;
}

.header img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:18px;
}

.profile{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.profile img{
  width:120px;
  height:120px;
  border-radius:50%;
  border:4px solid #00ffb7;
}

.profile-name{
  margin-top:10px;
  font-size:26px;
  font-weight:bold;
}

.link-btn{
  background:#400c61;
  color:#fff;
  padding:16px;
  border-radius:18px;
  display:flex;
  align-items:center;
  gap:14px;
  text-decoration:none;
  margin-bottom:14px;
  font-weight:bold;
}

.slider{
  display:flex;
  gap:14px;
  overflow-x:auto;
  padding-bottom:10px;
}

.slider::-webkit-scrollbar{
  display:none;
}

.admin-card{
  min-width:240px;
  height:300px;
  border-radius:20px;
  overflow:hidden;
  position:relative;
  background:#111;
}

.admin-card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.admin-status{
  position:absolute;
  top:10px;
  left:10px;
  background:rgba(0,0,0,.6);
  padding:6px 10px;
  border-radius:10px;
  font-size:12px;
}

.admin-name{
  position:absolute;
  bottom:10px;
  left:10px;
  background:rgba(0,0,0,.6);
  padding:6px 12px;
  border-radius:12px;
  font-weight:bold;
}

.chat-box{
  background:#d400ff;
  border-radius:18px;
  padding:14px;
  margin-top:24px;
}

.chat-msg{
  background:#222;
  padding:12px;
  border-radius:12px;
  margin-bottom:10px;
  white-space:pre-line;
}

.copy-btn{
  background:#fff;
  color:#000;
  border:none;
  padding:8px 12px;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
  margin-bottom:12px;
}

.chat-btns{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.chat-btns button{
  background:#1e1e1e;
  color:#fff;
  border:none;
  padding:12px;
  border-radius:12px;
  cursor:pointer;
}

.popup{
  position:fixed;
  bottom:30px;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  color:#fff;
  padding:10px 16px;
  border-radius:14px;
  font-size:13px;
  opacity:0;
  transition:.3s;
  pointer-events:none;
}

.footer{
  text-align:center;
  font-size:12px;
  opacity:.6;
  margin:28px 0 10px;
    }
